---
# system packages
- name: install packages
  apt: pkg={{item}} state=latest
  with_items:
  - curl

# Railo setup
- name: download Railo installer
  get_url: url={{railo_installer}} dest=/opt/{{railo_installer|basename}} mode=0744
- name: install Railo
  shell: /opt/{{railo_installer|basename}} --mode unattended --railopass daemon --installconn false creates=/opt/railo/uninstall
  register: installed_railo
- name: update Tomcat server.xml
  template: src=railo/server.xml dest=/opt/railo/tomcat/conf/server.xml
  notify: restart Railo
- name: update Tomcat JVM settings
  template: src=railo/setenv.sh dest=/opt/railo/tomcat/bin/setenv.sh mode=0744
  notify: restart Railo
- name: update Tomcat web.xml
  template: src=railo/web.xml dest=/opt/railo/tomcat/conf/web.xml
  notify: restart Railo
- name: update Railo railo-server.xml
  template: src=railo/railo-server.xml dest=/opt/railo/lib/railo-server/context/railo-server.xml
  notify: restart Railo
- name: make sure Railo runs on startup
  service: name=railo_ctl enabled=yes state=started
- name: sync tomcat logs
  cron: name="tomcat log sync" job="for f in `ls /opt/railo/tomcat/logs/`; do cp /opt/railo/tomcat/logs/$f {{log_sync_directory}}/tomcat-$f; done"
  when: log_sync_directory != ""

# FusionReactor setup
- name: download FusionReactor installer
  get_url: url={{fusionreactor_installer}} dest=/opt/{{fusionreactor_installer|basename}} mode=0744
- stat: path=/opt/fusionreactor
  register: fusionreactorinstalled
- name: copy FusionReactor installation properties
  template: src=fusionreactor/response.varfile dest=/tmp/response.varfile
  when: fusionreactorinstalled.stat.exists == False
- name: install FusionReactor
  shell: /opt/{{fusionreactor_installer|basename}} -q -varfile /tmp/response.varfile creates=/opt/fusionreactor
  register: installed_fusionreactor
- name: delete FusionReactor installation properties
  file: path=/tmp/response.varfile state=absent
- name: setup FusionReactor Railo agent directory
  file: path=/opt/fusionreactor/instance/Railo state=directory
- name: copy FusionReactor Railo agent JAR
  command: cp /opt/fusionreactor/etc/lib/fusionreactor.jar /opt/fusionreactor/instance/Railo/fusionreactor.jar creates="/opt/fusionreactor/instance/Railo/fusionreactor.jar"

- meta: flush_handlers